body {
    font-family: sans-serif;
    margin-left: 20%;
    background-color: rgb(37, 37, 37);color: orange;
    
  }
header{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: x-large;
}
#menu{
    float: left;
    margin-left: 250px;
    margin-top: 15px;
    padding-left: 100px;
    font-size: larger;
}
#menu a{
    color: black;
    text-decoration: none;
}
#menu a:hover{
    text-decoration: underline;
    color: gray;
    font-size: xx-large;
}
#menu a:active{
    text-decoration: none;
    color: gainsboro;

}
#search{
    display: inline;
    float: right;
    margin: 15px;
}
input{
    color:black;
    background-color: transparent;
    border-radius: 20px;
    border-color:blue;
}
.navbar {
    overflow: hidden;
    background-color:transparent;
    margin-left: 15%;
    position:absolute;
  
  }
  
  .navbar a {
    float: inline-start;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 20em;
    margin: 0;
    text-shadow: #000;
  }
  .navbar a:hover{
      font-size: 25px;
      font-family: inherit;
      font-weight: bold;
      font-style: italic;
      color: orange;
      text-transform: capitalize;
      text-decoration: underline;
  }
  .navbar a:active{
    color: orange;
    font-size: 27px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  
  }
  
  .dropdown .dropbtn {
    font-size: 25px; 
    border: none;
    outline: none;
    color:white;
    background-color: inherit;
    padding: 20px 30px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 20em;
    margin: 0;
    text-shadow: black;
  }
  .dropdown.dropbtn :hover{
    text-transform: capitalize;
      text-decoration: underline;
  
  }
  
  .dropdown-content {
    display: none;
    position: inherit;
    background-color:rgb(37, 37, 37);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(39, 39, 39, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#pic{
    margin-top:50px;
    
}
hr{
    width: 1000px;
    color: black;
    margin-left: 450px;
    margin-top: 50px;
}
#left{
    margin-top: 50px;
    margin-left:-20%;
}
#head{
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    font-size: xx-large;
    font-family: fantasy;
    font-weight: lighter;
    margin-left: -15%;
}
#links{
    margin-top: 10px;
    text-align: center;
}

#links a{
    
    padding-left: 200px;
    padding-right: 200px;
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
   font-family: monospace;
}
#left hr{
    width: 400px;
    
}
#contacts{
    margin-left: 450px;
    padding: 10px;
}
#contacts i{
    padding: 10px;
    font-size: larger;
}
#contacts i a{
    color: white;
}
#socials{
    margin-left: 450px;
    padding-top: 50px;
    font-size: x-large;
}
#socials i{
    padding: 10px;
    font-size: larger;

}
#socials a{
    color: rgb(255, 255, 255);
}
#social a i{
    color: white;
    font-size: 3em;
    margin-left: -8%;
    padding-left: 8%;
}
#working{
    margin-left: 450px;
    padding: 10px;
    color: white;
}
#working i{
    padding: 10px;
    font-size: larger;
}
#right{
    margin-left: 100px;
    width: 500px;
    color: white;
}
#right fieldset{
    border: none;
    padding: 10px;
}
#right input{
    margin: 20px;
    padding: 20px;
    border-color: rgb(252, 252, 252);
    width: 400px;
    border-radius: 5px;
    display: inline;
}
#message input{
    height: 200px; 
    text-align: start;
}
#right h3{
    margin-left: 100px;
    text-decoration: underline;
}
button{
    background-color: rgba(0, 0, 0, 0.697);
    color: rgb(255, 255, 255);
    margin-left: 30px;
    border-radius: 10px;
}
footer{
    color:black;
    display: inline;
    box-sizing: content-box;
    display: block;
    text-align: center;
    background-color: black;
}
